<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4a2a8d8f-f232-484c-8a6d-b77d3a476377/resourcegroups/Apptomate/providers/Microsoft.Web/sites/spiritmeter</ResourceId>
    <ResourceGroup>Apptomate</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spiritmeter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>96ae83c1-1bbb-4920-83a5-1ead3416c628</ProjectGuid>
    <MSDeployServiceURL>spiritmeter.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>spiritmeter</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$spiritmeter</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationmarkermarkermarkermarkermarkermarkermarkerType>AzureWebSite</_DestinationmarkermarkermarkermarkermarkermarkermarkerType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>